
body ul { margin: 0;}
.main-nav{
    background-color:blue ;
    margin: 0;
    padding: 0;
    height: 100px;
}
.main-nav ul li {
    float: left ; 
    color: white;
    margin: 10px;
    line-height: 70px;
    list-style-type: none;
}
.main-nav ul li a{
    color: white;
}